#homePage #ContentheaderPart {
  background-image: url("../../../images/CoverPhoto.jpg");
  background-size: cover;
  height: 18rem;
}
#homePage #ContentheaderPart #loghmeImage img {
  height: 6rem;
  width: 6rem;
}
#homePage #ContentheaderPart #content {
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
}
#homePage #contentWrapper #searchBoxWrapper {
  margin-top: -2rem;
}
#homePage #contentWrapper #searchBoxWrapper #searchBox {
  background-color: white;
  height: 4rem;
  border-radius: 0.5rem;
}
#homePage #contentWrapper #searchBoxWrapper #searchBox > div {
  padding: 0.5rem;
}
#homePage #contentWrapper #searchBoxWrapper #searchBox > div h6 {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#homePage #contentWrapper #searchBoxWrapper #searchBox .ordinarySearchBox h6 {
  border: 1.5px solid lightgray;
  border-radius: 0.5rem;
  background-color: mintcream;
  color: lightgray;
}
#homePage #contentWrapper #searchBoxWrapper #searchBox .activeSearchBox h6 {
  background-color: #ffe66d;
  border-radius: 0.5rem;
  color: #1a535c;
}
