#homePage{
    #ContentheaderPart{
        background-image: url('../../../images/CoverPhoto.jpg');
        background-size: cover;
        height: 18rem;


        #loghmeImage{
            img{
                height: 6rem;
                width: 6rem;
            }
        }

        #content{
            color: white;
            font-size: 1.5rem;
            margin-top: 1rem;
        }

    }

    #contentWrapper{
        margin-top: -2rem;

        #searchBoxWrapper{
            #searchBox{
                background-color: white;
                min-height: 4rem;
                border-radius: 0.5rem;

                >div{ //any content
                    height: 4rem;
                    h6, input{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    padding: 0.5rem;
                }

                .ordinarySearchBox{
                    h6, input{
                        border:1.5px solid lightgray;
                        border-radius: 0.5rem;
                        background-color: mintcream;
                    }

                    input::placeholder{
                        color: gray;
                    }

                    input{
                        color: $english-green-color;
                    }

                    h6{
                        color: lightgray;
                    }
                }

                .activeSearchBox{
                    h6{
                        background-color: $maize-yellow-color;
                        border-radius: 0.5rem;
                        color: $english-green-color;
                    }
                }
            }
        }
        
        
        #foodPartyWrapper{
            #foodPartyheaderPart{
                #title{
                    color: $english-green-color;
                    border-bottom: 0.2rem solid $english-green-color;   
                }


                #timer{
                    #countDownComponent{
                        background-color: $mean-cream-color;
                        border: 1px solid $light-blue-color;
                        color: $english-green-color;
                        border-radius: 0.5rem;
                        
                        h6{
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }  
            
            #carouselPart{
                margin-top: 2rem;


                .slickCarousel{
                    background-color: $mean-cream-color;
                }

                #foodWrapper{
                    background-color: white;
                    border-radius: 0.5rem;

                    #imageAndFootPart{
                        #imagePart{
                            img{
                                width: 6rem;
                                height: 6rem;
                                border-radius: 0.5rem;
                            }
                        }
    
                        #foodStarsPart{
                            img{
                                height: 1rem;
                                width: 1rem;
                            }
                        }
                    }

                    #pricePart{
                        #oldPrice{
                            color: lightgrey;


                            h6 {
                                text-decoration: line-through;
                                -moz-text-decoration-color: red;
                                -moz-text-decoration-style: solid;
                            }
                        }   
                        #newPrice{
                            color: black;
                        }
                    }

                    #existancePart{
                        #existOrNotPart{
                            background-color: $mean-cream-color;
                            border: 1px solid lightgray;
                            color: lightgray;
                            border-radius: 0.5rem;
                        }

                        #buyPart{
                            color: white;                         
                            background-color: $light-blue-color;
                            border-radius: 0.5rem;
                        }
                    }

                    #footerDescription{
                        border-top: 3px dashed lightgray;
                    }
                
                }
            }
        }


        #restaurantsListWrapper{
            #restaurantsListWrapperHeader{
                    color: $english-green-color;
                    border-bottom: 0.2rem solid $english-green-color;   
            }
        
            #restaurantDetail{
                #resaurantLogo{
                    img{
                        border-radius: 50%;
                        width: 6rem;
                        height: 6rem;
                    }
                }

                #restaurantName{
                    color: black;
                }

                #refToRestaurant{
                    h6{
                        background-color: $maize-yellow-color;
                        border-radius: 0.5rem;
                        color: $english-green-color;
                    }
                }
            }
        }
    }
}