#loginWrapper {
  background-image: url("../../../images/CoverPhoto.jpg");
  background-size: cover;
  height: 100vh;
}
#loginWrapper #main {
  background-color: #ffffff;
  max-width: 400px;
  min-height: 400px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
#loginWrapper #sign {
  padding-top: 40px;
  color: #8c55aa;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
#loginWrapper #username {
  width: 76%;
  color: #263238;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}
#loginWrapper #form1 {
  padding-top: 40px;
}
#loginWrapper #pass {
  width: 76%;
  color: #263238;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}
#loginWrapper #username:focus,
#loginWrapper #pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
#loginWrapper #signupSubmit {
  margin-bottom: 2rem;
}
#loginWrapper #submit,
#loginWrapper #signupSubmit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  position: relative;
  margin-top: 1rem;
}
#loginWrapper #linksWrapper {
  margin-top: 1rem;
}
#loginWrapper #linksWrapper #forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  padding-top: 15px;
  width: 100%;
}
#loginWrapper #linksWrapper #forgot a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  #loginWrapper .main {
    border-radius: 0px;
  }
}
