

#mainUserInfoWrapper{
    background-color: #ff6b6b; 
    /* pastel red color */
    color: white;
    height: 10rem;
}

#mainUserInfoWrapper #namePart{
    position: relative;
    margin-top: 1rem;
}

#mainUserInfoWrapper #namePart i{
    font-size: 4rem;
    margin-left: 0.5rem;
}

#mainUserInfoWrapper #namePart #nameWrapper h3{
    font-size: 1.5rem;
}

#mainUserInfoWrapper #moreInfoWrapper{
    margin-top: 0.5rem;
}

#mainUserInfoWrapper #moreInfoWrapper h4{
    font-weight: normal;
    font-size: 1.2rem;
    position: relative;
    top: 0.3rem;
}

#mainUserInfoWrapper #moreInfoWrapper i{
    font-size: 1.5rem;
}

#mainContentWrapper{
    padding-top: 7rem;
    background-color: mintcream;
    /* padding-bottom: 10rem; */
}

#mainContentWrapper #orderAndWalletDetailsComponent{
    border: 1px solid lightgrey;
    border-radius: 0.5rem;

    #titlePart{
        border-radius: 0.5rem;
        position: relative;
        bottom: 2.5rem;
        margin-bottom: -1.25rem;
        background-color: white;   
    
        a{
            color: white;
            text-decoration: none;
        }

        .inactiveBackground a{
            color: black;
        }
    }
    
    #orderDetailsWrapper{
        background-color: mintcream;
        border: 1px solid lightgrey;
        border-radius: 0.5rem;
    }
    
    #orderDetailsWrapper > div{
        border-left: 1px solid lightgray;
    }
}


#chargeCreditPartWrapper input, #chargeCreditPartWrapper button{
    height: 3rem;
}

.inProcess{
    background-color: lightgreen;
    color: darkgreen;
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
}

.inSearching{
    background-color: #4ecdc4;
    color: #1a535c;
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
}

.inResult{
    background-color: #ffe66d !important;
    color: #1a535c !important;
    border-radius: 0.5rem !important;
    /* padding: 0.5rem */
    padding-top: 5px !important;
}

.htagPadding{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    top: 0.2rem;
}