
#restaurantDetailPage{
    .cart-logo-container .cart-logo-count {
        background-color: #21b7bc;
        top: 0;
        align-items: center;
        font-size: 8pt;
        justify-content: center;
        font-weight: bold;
        display: flex;    
        position: absolute;
        right: 0;
        border-radius: 50%;
        padding: 1.5px;
    }
      
    
    // img{
    //     width: 4rem;
    //     height: 4rem;
    // }
    
    #restaurantCover{
        margin-bottom: 200px;
    }
    
    #restaurantCover .restaurant-cover {
        padding: 130px 0px;
        background-color: #FF6B6B;
    }
    
    #restaurantCover .restaurant-logo {
        box-shadow: 1px 2px 16px -1px rgb(0, 0, 0);
        border: 4px solid whitesmoke;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }
    
    #restaurantCover .restaurant-detail-container {
        flex-direction: column;
        left: 50%;
        align-items: center;
        transform: translate(-50%, -50%);
        display: flex;
        position: absolute;
    }
    
    
    #restaurantCover .restaurant-name {
        font-size: 27pt;
        font-weight: 600;
    }
    
    #menuContainer {
        padding: 10px 30px 0px;
    }
    
    .restaurant-page-content-container {
        min-height: 60vh;
        text-align: center;
        padding: 30px 120px 50px;
        margin: 0px !important;
    }
    
    .restaurant-menu-title {
        color: #1a999b;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 2px solid#1a999b;
        font-size: 18pt;
        font-weight: 600;
    }

    #menuContainer{
        #foodsListWrapper {
            border-right: 2px dashed #1a999b;
            padding: 20px 80px !important;
        }
        
        
        #foodsListWrapper .restaurant-food-card {
            box-shadow: 1px 2px 16px -1px rgb(0, 0, 0.3);
            background-color: whitesmoke;
            border-radius: 5px;
            padding: 20px 10px;
            margin: 10px 10px;
            min-height: 200px;
        }
        
        #foodsListWrapper .food-popularity-number {
            font-weight: 800;
            margin-right: 3px;
            font-size: 8pt;
        }
        
        #foodsListWrapper .food-picture {
            border-radius: 10px;
            height: 80px;
            width: 80px;
        }
        
        #foodsListWrapper .inventory-btn {
            cursor: pointer;
            padding: 5px 15px;
            font-weight: 600;
            font-size: 10pt;
            border-radius: 5px;
        }
        
        
        #foodsListWrapper .food-name-detail-container {
            justify-content: center;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        
        #foodsListWrapper .food-name-detail-container .food-name {
            overflow: hidden;
            height: 1.5em;
            font-size: 10pt;
            max-height: 1.5em;
            max-width: 90%;
        }
        
        #foodsListWrapper .food-name-detail-container .food-popularity {
            width: 10px;
            height: 10px;
        }
        
        #foodsListWrapper .food-price {
            font-size: 10pt;
        }
        
        #foodsListWrapper .unavailable {
            background-color: gray;
        }
        
        #foodsListWrapper .available {
            background-color: #FFE66D;
            font-size: 0.7rem;
        }    
    }
    
    #cartWrapper {
        padding: 76px 0px 0px 80px !important;
    }
    
    #cartWrapper #cart {
        box-shadow: 1px 2px 16px -1px rgb(0, 0,  0.3);
        background-color: white;
        display: flex;
        padding: 20px 50px;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    
    #cartWrapper #cart>*,
    .restaurant-food-card>* {
        margin-bottom: 10px;
    }
    
    #cartWrapper #cart .cart-title {
        font-weight: 400;
        padding: 0px 10px 4px;
        font-size: 14pt;
        border-bottom: 2px solid;
    }
    
    #cartWrapper #cart .cart-items-container>li {
        margin-bottom: 3px;
    }
    
    #cartWrapper #cart .cart-items-container {
        border: 1px dashed black;
        padding: 20px;
        width: 100%;
        border-radius: 15px;
    }
    
    #cartWrapper #cart .cart-total {
        font-weight: 600;
    }
    
    #cartWrapper #cart .cart-order {
        display: inline;
    }
    
    #cartWrapper #cart .cart-logo-container {
        padding-right: 10px;
        padding-top: 7px;
        position: relative;
        display: inline;
    }
    
    p {
        margin-bottom: 0px!important;
    }
    
    #cartWrapper #cart .submit-order-btn {
        color: white;
        font-weight: 600;
        background-color: #4ECDC4;
        font-size: 14pt;
        border-radius: 10px;
        padding: 5px 15px;
    }
    
    #cartWrapper #cart .cart-item>p {
        font-size: 8pt;
    }
    
    #cartWrapper #cart .cart-decrease-btn {
        color: tomato;
        font-weight: 600;
        font-size: 1rem;
        margin-right: 5px;
    }
    
    #cartWrapper #cart .cart-increase-btn {
        color: darkgreen;
        font-size: 1rem;
        font-weight: 600;
        margin-left: 5px;
    }
    
    #cartWrapper #cart .cart-item>div {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
    }
    
    #cartWrapper #cart .cart-item {
        border-bottom: 1px solid;
        list-style: none;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }    
}