.modal-header {
    border: 0 none;
}
.modal-content {
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.modal-dialog {
    padding-top: 60px;
}
.modal-footer {
    border-top: 0 none;
    padding: 10px 10px;        
}
.modal-footer .modal-footer .btn-default.btn-simple{
    font-weight: 400;
}

.modal.fade .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal.in .modal-dialog {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}
.modal-small{
    .modal-dialog{
        max-width: 350px;
    }
}
.modal-small{
    .divider{
        margin: 0 auto;
        display: block;
        width: 14px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: $font-paragraph;
    }
    .divider:after{
        position: absolute;
        content: "";
        right: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $light-gray;
    }
    .divider:before{
        position: absolute;
        content: "";
        left: -140px;
        top: 12px;
        height: 1px;
        width: 115px;
        background-color: $light-gray;
    }
    .modal-footer{
        text-align: center;
    }
}
.social-area{
    text-align: center;
    
    .btn-social{
        margin: 0 10px;
    }
}
.modal-backdrop.in {
    opacity: 0.25;
}

#ChargReport{
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;
    
    th,td{
        text-align: center;
        font-family: "yekan"
    }
    
    h6{
        font-family: "yekan";
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    #modalStatusBurron{
        width: 100%;
        display: flex;
        flex-flow: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        button{
            margin-right: 1rem;
            margin-top: 2rem;
        }
    }

    #deviseChargPart{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        input{
            padding: 0.5rem;
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 5px;
            min-height: 4rem;
        }

        .row{
            margin-top: 1rem;
        }
        


        #chargeSubmitButton{
            width: 100%;
            display: flex;
            flex-flow: row-reverse;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
            button{
                margin-right: 1rem;
                margin-top: 2rem;
            }
        }
    }

    
}

#usersInitialModal{
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        max-height: 100%;
    }

    input{
        height: 4rem !important;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid lightgray;
        margin-bottom: 1rem;
    }

    .control-label{
        display: block;
    }

    .dropdown{
        margin-bottom: 1rem;
        height: 4rem;
        width: 100%;
        button{
            border-radius: 5px;
            border: 1px solid lightgray;
            height: 4rem !important;
            width: 100%;
        }
    }
}

#carsInitModalWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100%;
    max-height: 100%;
    #plateNumberPartWrapper{
        #plateNumberPart{
            display: flex;
            flex-direction: row;
            align-items: center;
            
            input, select{
                width: 23.5%;
                margin-left: 5px;
            }

            select{
                position: relative;
                bottom: 0.5rem;
            }

            img{
                width: 1rem;
                height: 4rem;
                position: relative;
                right: 1.1rem;
                bottom: 0.5rem;
                z-index: 10;
                border-radius: 2px;
            }
        }
    }

    input{
        width: 100%;
        height: 4rem;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    .control-label{
        display: block;
    }

    .dropdown{
        margin-bottom: 1.5rem;
        height: 4rem;
        width: 100%;
        button{
            border-radius: 5px;
            border: 1px solid lightgray;
            height: 4rem !important;
            width: 100%;
        }
    }
}

#deviceReportModalTableWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ReactModal__Overlay{
    z-index: 10001;
}

.notifications-tc{
    z-index: 10004 !important;
}

  


.modal-wrapper{
    #foodWrapper{
        background-color: white;
        border-radius: 0.5rem;

        #imageAndFootPart{
            #imagePart{
                img{
                    width: 6rem;
                    height: 6rem;
                    border-radius: 0.5rem;
                }
            }

            #foodStarsPart{
                img{
                    height: 1rem;
                    width: 1rem;
                }
            }
        }

        #pricePart{
            #oldPrice{
                color: lightgrey;


                h6 {
                    text-decoration: line-through;
                    -moz-text-decoration-color: red;
                    -moz-text-decoration-style: solid;
                }
            }   
            #newPrice{
                color: black;
            }
        }

        #existancePart{
            #existOrNotPart{
                background-color: $mean-cream-color;
                border: 1px solid lightgray;
                color: lightgray;
                border-radius: 0.5rem;
                height: 2.5rem;
            }

            #buyPart{
                color: white;                         
                background-color: $light-blue-color;
                border-radius: 0.5rem;
                height: 2.5rem;
            }
        }

        #footerDescription{
            border-top: 3px dashed lightgray;
        }
    
    }

    .orderWrapper{
        text-align: center;
        th, tr{
            text-align: center;
        }
        thead{
            background-color: lightgray;
        }
    }
}

.modeal-header{
    justify-content: end !important;
    .modal-title{
        text-align: center;
    }
    .close{
        margin-left: 1rem !important;
    }
}