.sweet-loading{
    width: 100vw;
    height: 100vh;
    z-index: 100000000;
    position: fixed;
    opacity: 0.88;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    >div{

        >div{
            width: 8px;
            height: 60px;
            border-radius: 10px;
            background-color: #BD10E0;
        }
    }
}

