*{
    font-family: Vazir;
}

#mainLayoutWrapper{
    height: 100vh;


    #headerPart{
        max-height: 7vh;
    }
    
    #main-panel{
        min-height: 90%;
    }
    
    footer{
        height: 2.5rem;    
        
        #copyRightPartWrapper{
            background-color: #1a535c;
            color: white;
        }
        
        #copyRightPartWrapper h6{
            position: relative;
            top: 0.3rem;
        }
    }

    .bottomLightShadow{
        box-shadow: 0 3px 2px -2px gray;
    }
    
    .lightWrapperShadow{
        box-shadow: 2px 5px lightgray;
    }
    
    .activeColor{
        background-color: #ff6b6b; 
        color: white;
    }
    
    .inactiveBackground{
        background-color: white;
        color: black;
    }
    
    
    .fontBold{
        font-weight: bold;
    }
    
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    
    .englishGreenBackground{
        background-color: #1a535c;
    }
    
    .mediumTorquqizBackground{
        background-color: #4ecdc4;
        color: white;
    }
    
    .buttonStyle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .inputStyle{
        background-color: lightgray;
        color: gray;
        text-align: right;
    }
    
    .inputStyle::placeholder{
        text-align: right;
    }
    
    
    .cart-logo-container .cart-logo-count {
        background-color: #21b7bc;
        top: 0;
        align-items: center;
        font-size: 0.8rem;
        justify-content: center;
        /* font-weight: bold; */
        display: flex;    
        position: absolute;
        right: 0;
        border-radius: 50%;
        padding: 1.5px;
        width: 1.2rem;
        height: 1.2rem;
    }
    
    .cart-logo-container {
        padding-right: 10px;
        padding-top: 7px;
        position: relative;
        display: inline;
    }
    
    
    
    /* header part */
    #article{
        background-color: mintcream;
    }
    
    #headerPart{
        background-color: mintcream;
        position: fixed;
        position: sticky;
        min-height: 3.5rem;
    }
    
    
    
    #headerPart #headerContentWrapper #logoPart img{
        width: 2.5rem;
        height: 2.5rem;
    }
    
    #headerPart #headerContentWrapper #exitButtonPart a{
        color: #ff6b6b;
    }
    
    #headerPart #headerContentWrapper #routeLocationButtonPart a{
        color: #1a535c;
    }
}

#notificationSystem{
    #notificationMessage{
        font-size: 1.15rem !important;
        margin-bottom: 0;
    }
}