* {
  font-family: Vazir;
}
#mainLayoutWrapper {
  height: 100vh;
}
#mainLayoutWrapper #headerPart {
  max-height: 7vh;
}
#mainLayoutWrapper #main-panel {
  min-height: 90%;
}
#mainLayoutWrapper footer {
  height: 2.5rem;
}
#mainLayoutWrapper footer #copyRightPartWrapper {
  background-color: #1a535c;
  color: white;
}
#mainLayoutWrapper footer #copyRightPartWrapper h6 {
  position: relative;
  top: 0.3rem;
}
#mainLayoutWrapper .bottomLightShadow {
  box-shadow: 0 3px 2px -2px gray;
}
#mainLayoutWrapper .lightWrapperShadow {
  box-shadow: 2px 5px lightgray;
}
#mainLayoutWrapper .activeColor {
  background-color: #ff6b6b;
  color: white;
}
#mainLayoutWrapper .inactiveBackground {
  background-color: white;
  color: black;
}
#mainLayoutWrapper .fontBold {
  font-weight: bold;
}
#mainLayoutWrapper .row {
  margin-left: 0;
  margin-right: 0;
}
#mainLayoutWrapper .englishGreenBackground {
  background-color: #1a535c;
}
#mainLayoutWrapper .mediumTorquqizBackground {
  background-color: #4ecdc4;
  color: white;
}
#mainLayoutWrapper .buttonStyle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainLayoutWrapper .inputStyle {
  background-color: lightgray;
  color: gray;
  text-align: right;
}
#mainLayoutWrapper .inputStyle::placeholder {
  text-align: right;
}
#mainLayoutWrapper .cart-logo-container .cart-logo-count {
  background-color: #21b7bc;
  top: 0;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;
  display: flex;
  position: absolute;
  right: 0;
  border-radius: 50%;
  padding: 1.5px;
  width: 1.2rem;
  height: 1.2rem;
}
#mainLayoutWrapper .cart-logo-container {
  padding-right: 10px;
  padding-top: 7px;
  position: relative;
  display: inline;
}
#mainLayoutWrapper #article {
  background-color: mintcream;
}
#mainLayoutWrapper #headerPart {
  background-color: mintcream;
  position: fixed;
  position: sticky;
  min-height: 3.5rem;
}
#mainLayoutWrapper #headerPart #headerContentWrapper #logoPart img {
  width: 2.5rem;
  height: 2.5rem;
}
#mainLayoutWrapper #headerPart #headerContentWrapper #exitButtonPart a {
  color: #ff6b6b;
}
#mainLayoutWrapper
  #headerPart
  #headerContentWrapper
  #routeLocationButtonPart
  a {
  color: #1a535c;
}
#notificationSystem #notificationMessage {
  font-size: 1.15rem !important;
  margin-bottom: 0;
}
